/* || General styles */

* {
    margin: 0;
    padding: 0;
}

ol, 
ul {
  list-style: none;
}


a {
    text-decoration: none;
  }

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  text-transform: capitalize;
}

a {
    text-decoration: none;
    color: inherit;
}   

input[type=button] {
    cursor: pointer;
}


/* ||Typography */

:root {
    --lightGrey: rgba(242, 242, 242, 1);
    --backGrey: rgba(244, 244, 244, 1);
    --darkGrey: rgba(210, 210, 210, 1);
    --darkGreyTwo: rgba(126, 126, 126, 1);
    --yellow: rgba(255, 179, 66, 1);
    --blue: rgba(28, 39, 82, 1);
    --white: rgba(255, 255, 255, 1);

    --inter: "Inter", sans-serif;
    --mulish: "Mulish", sans-serif;
}

/* || Utilities */

button,
h2,
h3,
h4,
h5 {
  color: var(--blue);
}

h1 {
    font: 800 60px var(--mulish);
    color: var(--white);
    padding-top: 21px;
    padding-bottom: 32px;
}

h2 {
    font: 800 45px var(--mulish);
}

h3 {
    font: 800 35px var(--mulish);
}

h4 {
    font: 700 25px var(--mulish);
}

h5 {
    font: 700 20px var(--mulish);
}

p {
    font: 400 18px var(--inter);
    color: var(--darkGreyTwo);
  }

input[type=button] {
    border: none;
    background: none;
    font-family: var(--inter);
    font-weight: 500;
    font-size: 18px;
    
}

input[type=submit] {
    font-family: var(--inter);
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.general-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
}

.general-flex-two {
    display: flex;
    align-items: center;
}

.general-flex-button {
    display: flex;
    align-self: flex-start;
    align-items: center;
    gap: 9px;
    flex: 1 1 auto;
}

.general-flex-column-two {
    display: flex;
    flex-direction: column;
}

.general-flex-button--grey {
    background-color: var(--backGrey);
}

.general-flex-button--white {
    background-color: var(--white);
}


.general-flex-button--icon-paddings {
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.general-flex-button--text-paddings {
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}


.general-flex-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.general-grid {
    display: grid;
    place-items: center;
}

.general-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* || Header styles */

.header-social-media {
    background-color: var(--lightGrey);
}

.header-social-media__logos {
    display: flex;
    gap: 15px;
    padding: 21px 0;
}

.header-social-media__logos--blue {
    color: var(--blue);
}
.header-social-media p:first-child {
    color: var(--blue);
}

.header-contacts {
    display: flex;
    align-items: center;
    gap: 68px;
}
.header-contact {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 40px 0 45px 0;
}

.header-menu-wrapper {
    background-color: var(--yellow);
    position: relative;
    top: 61px;
}

.herader-contact-wrapper {
    height: 100px;
}

.header-menu__list {
   gap: 55px;
   padding: 34px 0 34px 14px;
}

.header-menu__question {
    background-color: var(--blue);
    color: var(--white);
    padding: 20px 22px;
}

div.header-menu-wrapper a:nth-child(2) {
    padding-right: 14px;
}

.our-services {
    background: radial-gradient(60.12% 104.01% at 81.74% 32.31%, rgba(40, 43, 53, 0) 2.98%, rgba(0, 0, 0, 0.75) 100%),
    url(../images/workers-background.svg);
    background-size: cover;
    height: 924px;
}

.our-services__titles{
    position: absolute;
    left: 360px;
    top: 533px;
    max-width: 619px;
}

.our-services__titles-text {
    display: flex;
    align-items: center;
    gap: 9px;
}

.our-services__titles-text--white {
    color: var(--white);
}

.our-services__titles-text__background-color {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px 16px;
    align-self: flex-start;
}

.our-services__titles-button {
    background-color: var(--yellow);
    padding: 18px 33px;
    align-self: flex-start;
}

.ur-services__titles-button--blue {
    color: var(--blue);
}

.welcome {
    padding-top: 150px;
    padding-bottom: 150px;
}

.welcome-content {
    display: flex;
    gap: 70px;
}

.welcome-content__description-title {
    gap: 21px;
}

.welcome-content__description {
    gap: 25px;
}

.welcome-content__options {
    display: flex;
    gap: 40px;
}

.welcome-content__options-box {
    justify-content: center;
    max-width: 175px;
    height: 178px;
    text-align: center;
    gap: 19px;
}

.welcome-content__options-box--grey {
    background-color: var(--backGrey);
}

.welcome-content__options-list {
    justify-content: center;
    gap: 16px;
}

.main-services {
    background-color: var(--yellow);
}

.main-services__content {
    display: flex;
    position: relative;
    top: 127px;
    gap: 40px;
}

.main-services__content-titles {
    align-items: center;
    gap: 32px;
}

.main-services__content-titles-header {
    text-align: center;
    gap: 18px;
}

.main-services__content-titles-description {
    max-width: 687px;
}

.main-services__content-buttons {
    gap: 30px;
}

.main-services__content-buttons--border-blue {
    border: 1px solid var(--blue);
    width: 221px;
    height: 56px;
    justify-content: center;
    align-items: center;
}

.main-services__content-button--blue {
    color: var(--blue);
}

.main-services__content-button--icon {
    width: 30px;
    height: 30px;
}

div.main-services__content-buttons div:first-child {
    background-color: var(--white)
}

.main-services__description-wrapper {
    background-color: var(--white);
}

.main-services__description {
    padding: 60px 66px;
}

.main-services__description-button {
    display: flex;
    align-self: flex-start;
    background-color: var(--yellow);
    padding: 20px 43px;
}

.main-services__description-paragraph {
    gap: 30px;
}

.main-services__description-text {
    padding-top: 26px;
    padding-bottom: 52px;
}

.main-services__description-photo {
    width: 470px;
    height: 424px;
    padding-right: 60px;
}

.services {
    padding-top: 295px;

}

.services__button--center {
    align-self: center;
}

.services__header-wrapper {
    max-width: 687px;
    text-align: center;
    margin: 0 auto;
}

.services-header {
    gap: 21px;
    padding-bottom: 40px;
}

.services-title-gap  {
    gap: 10px;
}

.services__cards {
    display: flex;
    gap: 27px;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.services__cards-item {
    background-color: var(--blue);
    padding: 47px 37px;
    max-width: 308px;   
}

.services__cards-item-text {
    color: var(--darkGrey);
    padding-top: 11px;
    padding-bottom: 30px;
}

.services__cards-utem-title {
    color: var(--yellow);
    padding-top: 20px;
}

.services__cards-button {
    color: var(--darkGrey);
}


.services-wrapper {
    background-color: var(--backGrey);
    padding-bottom: 150px;
}

.choose-list__number {
    font-family: var(--mulish);
    font-weight: 800;
    font-size: 25px;
    color: var(--blue);
    background-color: var(--yellow);
    flex-basis: 25%;
    padding: 17px 0;
}

.choose-list__text {
    color: var(--white);
    border: 1px solid var(--white);
    padding: 16px 22px;
    flex-basis: 75%;
}

.choose-list__item {
    display: flex;
    min-width: 400px;
    align-items: center;
    text-align: center;
}

.choose-list-content {
    gap: 23px;
    background: rgba(28, 39, 82, 0.7);
    border: 1px solid #000000;
    backdrop-filter: blur(12.5px);
    padding: 182px 115px 199px 115px;
}

.choose {
    display: flex;
    gap: 70px;
}

.choose-achievements {
    background-image: url(../images/workers-blur.svg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 845px;
    height: 921px;
    display: grid;
    place-items: center;
}

.choose-list-box {
    gap: 23px;
}

.choose-describtion-content {
    gap: 32px;
    justify-content: center;
}

.choose-describtion__title {
    max-width: 497px;
}

.choose-description__header {
    gap: 22px;
    max-width: 643px;
}

.choose-description__list {
    gap: 40px;
    max-width: 513px;
}

.hoose-description__list-item {
    display: flex;
    gap: 13px;
}

.gallery {
    background-color: var(--blue);
}

.gallery-content {
    padding-top: 169px;
}

.gallery-content__title--white {
    color: var(--white);
}

.gallery-header {
    align-items: center;
    gap: 9px;
}

.gallery-header__button {
    align-self: center;
}

.gallerry-recent-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    max-width: 98%;
    margin: 0 auto;
    padding: 60px 0 169px;
   
}

.gallerry-recent-work__item {
    align-items: center;
    background-color: var(--white);
    padding: 18px 22px;
}

.gallerry-recent-work__item-header {
    text-align: center;
    padding-top: 23px;
}

.appointment-content {
    gap: 39px;
    
}

.customers-title-box {
    gap: 15px;   
}

.appointment__customer-review {
    border: 1px solid rgba(221, 221, 221, 1);
    padding: 49px 42px 39px 39px;
    max-width: 581px;
}

.aappointment__customer-review-wrapper {
    padding: 23px 0 33px;
}

.appointment__customer-bio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 11px;
    flex: 1 1 auto;   
}

.appointment__customer-bio-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 17px;
    font-size: 22px;
    border-bottom: 1px solid rgba(220, 220, 220, 1);
    
}

.appointment__customer-review-text {
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
    padding-top: 17px;
}
.apointment__customer-review-footer-text h4:first-child {
    font-weight: 800;
}
.appointment__customer-review span:first-child {
    font-weight: 600;
    color: var(--blue);
    font-size: 22px;
}

.appointment__customer-review-footer {
    background-color: var(--yellow);
    gap: 22px;
    padding: 50px 42px;
}

.apointment__customer-review-footer-text {
    gap: 12px;
}

.appointment__customer-review-footer-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
}

.apointment__customer-review-footer-number {
    font-size: 30px;
    color: var(--white);
}

.apointment__customer-review-footer-number-wrapper {
    display: flex;
    gap: 10px;
}

.appointment-content {
    padding-top: 150px;
}

.apointment__customer-review-footer-contact-text {
    color: var(--blue);
}

.appointments-form-title {
    padding-bottom: 23px;
}

.appointments__form-textarea {
    padding: 21px 0 96px 33px;
    font-size: 18px;
    border: 1px solid rgba(221, 221, 221, 1);
}

.appointments__form-box {
    gap: 30px;
    padding: 52px 58px;
}

.appointments__button--yellow {
    padding: 20px 197px;
    background-color: var(--yellow);
}

.appointments__form-wrapper {
    background-color: var(--backGrey);
}

.appointments-form-title {
    gap: 15px;
}

.appointments__button-wrapper {
    padding-top: 15px;
}

.appointments__form-box > input {
    padding: 21px 0 21px 33px;
    font-size: 18px;
    border: 1px solid rgba(221, 221, 221, 1);
}

.appointment__clients-title {
    align-items: center;
    gap: 14px;
}

.appointment__clients-title-button {
    align-self: center;
}

.appointment__clients-wrapper {
    padding-top: 75px;
    padding-bottom: 143px;
    gap: 44px;
}

.appointment__clients--item {
    display: flex;
    align-items: center;
    gap: 7px;
}

.pricing-background {
    background-color: var(--backGrey);
    padding-bottom: 200px;
}

.pricing-wrapper {
    padding-top: 148px;
}

.pricing-content {
    gap: 74px;
}

.pricing__header-title-wrapper {
    gap: 9px;
    max-width: 477px;
}

.pricing__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pricing__header-text-wrapper {
    max-width: 579px;
}

.pricing__header-text {
    text-align: justify;
}

.pricing {
    display: flex;
    justify-content: space-between;

}

.pricing__item-header {
    display: flex;
    align-items: center;
    gap: 56px;
    padding-bottom: 32px;
    border-bottom: 1px solid #D7D7D7;
}

.pricimg__item-header-title {
    gap: 3px;
}

.pricing__list--wrapper {
   padding-top: 16px;
   gap: 20px;
}

.pricing__list > div {
    display: flex;
    gap: 12px;
    padding-bottom: 25px;
}

.pricing__item--wrapper {
    background-color: var(--white);
    padding: 20px;
}

.pricing__button {
    background-color: var(--yellow);
    padding: 20px 108px;
    text-align: center;
}

.pricing__button--white {
    border: 1.5px solid var(--yellow);
    padding: 20px 108px;
    text-align: center;
}

.pricing__item-popular {
    gap: 10px;
}

.pricing__item-popular p:first-child {
    background-color: var(--yellow);
    font-family: var(--inter);
    font-size: 16px;
    color: var(--blue);
    padding: 5px 12px;
    align-self: end;
}

.pricing-footer__points-content {
    display: flex;
    gap: 13px;
}

.pricing-footer__points-content-text {
    gap: 5px;
}

.blog-content__title {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.blog-content__title-button {
    align-self: center;
}

.blog-content {
    padding-top: 150px;
    padding-bottom: 150px;
    gap: 40px;
}

.blog-content__items-admin {
    justify-content: center;
    position: relative;
    bottom: 35px;
}

.blog-content__items-admin-button-one {
    gap: 10px;
    padding: 20px 30px;
    background-color:  rgba(255, 195, 104, 1);
}

.blog-content__items-admin-button-two {
    gap: 10px;
    padding: 20px 30px;
    background-color: var(--yellow);
}

.blog-content__items-title {
    font-size: 30px;
}

.blog-content__items-texts {
    gap: 9px;
}

.blog-content__items-wrapper {
    gap: 26px;
}

.blog-content__items-text {
    line-height: 144.52%;
}

.newslatter-wrapper {
    background-color: var(--yellow);
}

.newslatter-content__heading-text {
    color: var(--blue);
}

.newslatter-content__heading-text span:first-child {
    font-weight: 600;
}

.newslatter-content__heading {
    max-width: 585px;
    gap: 11px;
}

.newslatter-content {
    justify-content: space-between;
    padding: 110px 0 110px;
}

.newslatter-content__subscribe-email {
    padding: 23px 138px 23px 19px;
    border: 1.5px solid #FFFFFF;
    background-color: var(--yellow);
}

.newslatter-content__subscribe-submit {
    padding: 20px 47px 19px 46px;
    background-color: #FFFFFF;
    border: none;
}

.appointments__button-submit {
    border: none;
    background-color: var(--yellow);
}

.footer-wrapper {
    background-color: var(--blue);
}

.footer {
    padding-top: 35px;
    padding-bottom: 56px;
    border-bottom: 1px solid #4B557D;
}

.footer-text-color {
    color: var(--white)
}

.footer-contact-font {
    font-size: 17px;
}

.footer__contact-content-item {
    gap: 11px;
    align-items: center;
}

.footer__contact-content-item-text {
    gap: 2px;
}

.footer__contact {
    gap: 126px;
}

.footer__contact-content {
    gap: 60px;
}

.footer-text-color ~ a {
    color: var(--white);
}

.general-content {
    gap: 56px;
}

.footer__about-socials {
    gap: 15px;
}

.footer__exlore-links {
    max-width: 462px;
    padding-bottom: 32px;
    gap: 66px;
    padding-right: 66px;
    padding-left: 66px;
    border-left: 1px solid #4B557D;
    border-right: 1px solid #4B557D;;
}

.footer__about {
    max-width: 440px;
    padding-right: 66px;
    gap: 60px;
    padding-bottom: 32px;
}

.footer__utility-pages {
    padding-left: 66px;
    padding-bottom: 32px;
}

.footer__exlore-links-gap {
    gap: 13px;
}

.footer__copyright {
    justify-content: center;
    padding-top: 19px;
}

.